{% extends 'admin/layouts/body_card.html.twig' %}

{% block title %}Profile{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item active">Profile</li>
{% endblock %}

{% block actions %}
    <a href="{{ path('admin_user_profile_edit') }}" class="btn btn-outline-primary btn-sm shadow-sm">
        <i class="fa fa-pen fa-fw fa-sm"></i> Edit
    </a>
{% endblock %}

{% block content %}
    <table class="table table-hover">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ app.user.id }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ app.user.email }}</td>
        </tr>
        <tr>
            <th>Roles</th>
            <td>{{ app.user.roles ? app.user.roles|join(', ') : '' }}</td>
        </tr>
        <tr>
            <th>Is verified</th>
            <td>{{ app.user.isVerified ? 'Yes' : 'No' }}</td>
        </tr>
        <tr>
            <th>First name</th>
            <td>{{ app.user.firstName }}</td>
        </tr>
        <tr>
            <th>Last name</th>
            <td>{{ app.user.lastName }}</td>
        </tr>
        <tr>
            <th>Avatar</th>
            <td><img class="img-fluid" src="{{ asset_uploaded(app.user.imagePath) }}" alt=""></td>
        </tr>
        <tr>
            <th>Created at</th>
            <td>{{ app.user.createdAt ? app.user.createdAt|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
        <tr>
            <th>Updated at</th>
            <td>{{ app.user.updatedAt ? app.user.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
        </tbody>
    </table>
{% endblock %}
