{% for post in posts %}
    <h2 class="display-6">{{ post.title }}</h2>
    <p>{{ post.preview }}</p>
    <p class="small">
        {% for tag in post.tags %}
            <span class="badge bg-secondary bg-opacity-10">
                <a href="{{ path('front_blog_tag', {'slug': tag.slug}) }}">
                    <i class="fas fa-hashtag fa-fw text-muted"></i>{{ tag.name }}
                </a>
            </span>
        {% endfor %}
    </p>
    <div class="d-flex justify-content-between">
        <p class="small">
            <i class="fa fa-calendar-alt fa-fw text-muted"></i>
            {{ post.createdAt|format_date('medium') }}

            <i class="fa fa-book fa-fw text-muted"></i>
            <a href="{{ path('front_blog_category', {'slug': post.category.slug}) }}"> {{ post.category.name }}</a>

        </p>
        <p class="small">
            <a href="{{ path('front_blog_post', {'slug': post.slug}) }}">Read more...</a>
        </p>
    </div>
    {% if not loop.last %}
        <hr>
    {% endif %}
{% else %}
    <p>No posts</p>
{% endfor %}
<div class="d-flex justify-content-end">
    {{ knp_pagination_render(posts) }}
</div>
