<div class="card mb-4">
    <div class="card-header">
        <h3 class="lead mb-0">Categories</h3>
    </div>
    <div class="card-body p-0">
        <div class="list-group">
            {% for menuCategory in menuCategories %}
                <a href="{{ path('front_blog_category', {'slug': menuCategory.slug}) }}"
                   class="list-group-item list-group-item-action border-0{{ (app.request.get('slug') == menuCategory.slug or (categorySlug is defined and categorySlug == menuCategory.slug)) ? ' active' : '' }}">
                    {{ menuCategory.name }}
                </a>
            {% endfor %}
        </div>
    </div>
</div>
<div class="card mb-4">
    <div class="card-header">
        <h3 class="lead mb-0">Recent posts</h3>
    </div>
    <div class="card-body">
        {% for recentPost in recentPosts %}
            <p>
                <a href="{{ path('front_blog_post', {'slug': recentPost.slug}) }}" class="card-text">{{ recentPost.title }}</a>
                <small>[{{ recentPost.name }}]</small>
            </p>
        {% endfor %}
    </div>
</div>
