{% extends 'admin/layouts/body_card.html.twig' %}

{% block title %}Users{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item active">Users</li>
{% endblock %}

{% block actions %}
    {% include 'admin/_embed/_card/_actions.html.twig' %}
{% endblock %}

{% block content %}
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Id</th>
            <th>Email</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Roles</th>
            <th>Avatar</th>
            <th>Posts</th>
            <th>Created at</th>
            <th>Is verified</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.firstName }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.roles ? user.roles|join(', ') : '' }}</td>
                <td><img class="img" src="{{ user.avatar ? asset_uploaded(user.imagePath)|imagine_filter('sq_th_tiny') : '#' }}" alt=""></td>
                <td><a href="{{ path('admin_blog_post_index', {'user': user.id}) }}">{{ user.posts|length }} posts</a></td>
                <td>{{ user.createdAt|format_date('medium') }}</td>
                <td>{{ user.isVerified ? 'Yes' : 'No' }}</td>
                <td>
                    {% include 'admin/_embed/_form/_btn_actions.html.twig' with {
                        'pathEdit': path('admin_user_edit', {'id': user.id}),
                        'pathShow': path('admin_user_show', {'id': user.id}),
                        'pathDelete': path('admin_user_delete', {'id': user.id}), 'entityTile': user.email, 'entityId': user.id,
                    } %}
                </td>
            </tr>
        {% else %}
            <tr><td colspan="8">No records found</td></tr>
        {% endfor %}
        </tbody>
    </table>
    {{ knp_pagination_render(users) }}
    {% include 'admin/_embed/_modal/_confirm_delete.html.twig' %}
{% endblock %}
