{% extends 'admin/layouts/body.html.twig' %}

{% set headerTitle = 'Users - User' %}

{% block title %}{{ headerTitle }}{% endblock %}

{% block content %}
    <div class="card my">
        <div class="card-header">
            {% include 'admin/_embed/_card/_header.html.twig' with {'headerTitle': headerTitle, 'entity': user, 'deleteTitle': user.email} %}
        </div>
        <div class="card-body">
            <table class="table">
                <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ user.id }}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{ user.email }}</td>
                </tr>
                <tr>
                    <th>Roles</th>
                    <td>{{ user.roles ? user.roles|join(', ') : '' }}</td>
                </tr>
                <tr>
                    <th>First_name</th>
                    <td>{{ user.firstName }}</td>
                </tr>
                <tr>
                    <th>Last_name</th>
                    <td>{{ user.lastName }}</td>
                </tr>
                <tr>
                    <th>CreatedAt</th>
                    <td>{{ user.createdAt ? user.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <th>UpdatedAt</th>
                    <td>{{ user.updatedAt ? user.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <th>IsVerified</th>
                    <td>{{ user.isVerified ? 'Yes' : 'No' }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
