{% extends 'admin/layouts/body.html.twig' %}

{% set headerTitle = 'Blog Categories' %}

{% block title %}{{ headerTitle }}{% endblock %}

{% block content %}
    <div class="card shadow-sm">
        <div class="card-header">
            {% include 'admin/_embed/_card/_header.html.twig' with {'headerTitle': headerTitle} %}
        </div>
        <div class="card-body">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Slug</th>
                    <th>Articles</th>
                    <th>Is active</th>
                    <th>Image</th>
                    <th>Created at</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for category in categories %}
                    <tr>
                        <td>{{ category.id }}</td>
                        <td>{{ category.name }}</td>
                        <td>{{ category.slug }}</td>
                        <td><a href="{{ path('admin_blog_post_index', {'category': category.id}) }}">{{ category.posts|length }} items</a></td>
                        <td>{% include 'admin/_embed/_form/_field_checkbox.html.twig' with {'entity': category, 'value': category.isActive } %}</td>
                        <td><img class="img" src="{{ category.image ? asset_uploaded(category.imagePath)|imagine_filter('sq_th_tiny') : '#' }}" alt=""></td>
                        <td>{{ category.createdAt|format_date('medium') }}</td>
                        <td>{% include 'admin/_embed/_form/_btn_actions.html.twig' with {'entity': category, 'deleteTitle': category.name} %}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6">No records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% include 'admin/_embed/_modal/_confirm_deletes.html.twig' %}
{% endblock %}
