{% extends 'front/layouts/body.html.twig' %}
{% set title = page.seoTitle ?: page.title %}

{% block title %}{{ title }}{% endblock %}
{% block meta_title %}{{ title }}{% endblock %}
{% block meta_description %}{{ page.seoDescription ?: title }}{% endblock %}

{% block content %}
    <div class="card mb-4">
        <div class="card-body">
            <h1 class="display-5">{{ page.title }}</h1>
            {{ page.content|raw }}
        </div>
    </div>
{% endblock %}
