{% extends 'front/layouts/auth.html.twig' %}

{% block title %}Sign up{% endblock %}

{% block content %}

    {% form_theme registrationForm 'bootstrap_5_layout.html.twig' %}

    <p>Sign up for your account</p>

    {{ form_start(registrationForm) }}

    <div class="form-floating mb-3">
        {{ form_widget(registrationForm.email) }}
        {{ form_label(registrationForm.email) }}
        {{ form_errors(registrationForm.email) }}
    </div>

    <div class="form-floating mb-3">
        {{ form_widget(registrationForm.plainPassword) }}
        {{ form_label(registrationForm.plainPassword) }}
        {{ form_errors(registrationForm.plainPassword) }}
    </div>

    <button type="submit" class="btn btn-primary d-inline">Sign up</button>

    {{ form_end(registrationForm) }}
{% endblock %}
