{% extends 'front/layouts/auth.html.twig' %}

{% block title %}Sign up{% endblock %}

{% block content %}

    {% form_theme form 'bootstrap_5_layout.html.twig' %}

    <p>Sign up for your account</p>

    {{ form_start(form) }}

    <div class="form-floating mb-3">
        {% if form.plainPassword.first.vars.errors|length %}
            {{ form_widget(form.email, {'attr': {'autofocus': false}}) }}
        {% else %}
            {{ form_widget(form.email) }}
        {% endif %}
        {{ form_label(form.email) }}
        {{ form_errors(form.email) }}
    </div>

    <div class="form-floating mb-3">
        {% if form.plainPassword.first.vars.errors|length %}
            {{ form_widget(form.plainPassword.first, {'attr': {'autofocus': true}}) }}
        {% else %}
            {{ form_widget(form.plainPassword.first) }}
        {% endif %}
        {{ form_label(form.plainPassword.first) }}
        {{ form_errors(form.plainPassword.first) }}
    </div>

    <div class="form-floating mb-3">
        {{ form_widget(form.plainPassword.second) }}
        {{ form_label(form.plainPassword.second) }}
        {{ form_errors(form.plainPassword.second) }}
    </div>

    <button type="submit" class="btn btn-primary d-inline">Sign up</button>

    {{ form_end(form) }}
{% endblock %}
