{% if hasImage %}
    <div class="mb-3 row box-image">
        <div class="col-sm-10 offset-sm-2">
            <div class="card shadow-sm" style="max-width: 184px;">
                <div class="card-body">
                    <img src="{{ asset_uploaded(imagePath)|imagine_filter('sq_th_form') }}" alt="">
                </div>
                <div class="card-footer text-end">
                    <a href="{{ asset_uploaded(imagePath) }}" class="btn btn-outline-secondary btn-sm" target="_blank">
                        <i class="fa fa-eye fa-fw"></i>
                    </a>
                    <a href="{{ deletePath }}"
                       data-_token="{{ csrf_token('delete' ~ form.vars.data.id ) }}"
                       class="btn btn-outline-danger btn-sm js-delete-image">
                        <i class="fa fa-trash fa-fw"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endif %}
{% if field is defined %}
    {{ form_row(field) }}
{% else %}
    {{ form_row(form.image) }}
{% endif %}
