{% extends 'front/layouts/body.html.twig' %}
{% set title = post.seoTitle ?: post.title %}

{% block title %}{{ title }}{% endblock %}
{% block meta_title %}{{ title }}{% endblock %}
{% block meta_description %}{{ post.seoDescription ?: title }}{% endblock %}

{% block content %}
    <div class="card mb-4">
        <div class="card-body">
            <h1 class="display-5">{{ post.title }}</h1>
            <hr>
            <p class="small">
                <i class="fa fa-calendar-alt fa-fw text-muted"></i>
                {{ post.createdAt|format_date('medium') }}

                <i class="fa fa-book fa-fw text-muted"></i>
                <a href="{{ path('front_blog_category', {'slug': post.category.slug}) }}"> {{ post.category.name }}</a>
            </p>
            <hr>
            <p>{{ post.preview }}</p>
            <p>{{ post.preview }}</p>
            {{ post.content|raw }}
            {% if post.tags|length > 0 %}
                <hr>
                <p class="small">
                    <i class="fa fa-tags fa-fw text-muted"></i>
                    {% for tag in post.tags %}
                        <a href="#">{{ tag.name }}</a>,
                    {% endfor %}
                </p>
            {% endif %}
        </div>
    </div>
{% endblock %}
