{# // todo: refactoring
    Example: route "admin_user_index" split into an array
    _route[0] = admin
    _route[1] = user
    _route[2] = index        // action: [index|new|show|edit|delete]
    prefix    = admin_user_  // prefx:
#}
{% set _route = app.request.get('_route')|split('_') %}
{% set prefix = _route[0] ~ '_' ~ _route[1] ~ '_' %}

{% if deleteTitle is not defined %}
    {% set deleteTitle = 'Delete this record?' %}
{% endif %}

{% set breadcrumb = headerTitle|split(' - ') %}

<div class="d-flex justify-content-between my-0">
    <nav class="mt-1" aria-label="breadcrumb">
        <ol class="breadcrumb d-inline-flex m-0">
            {% if _route[2] is defined and breadcrumb[1] is defined %}
                <li class="breadcrumb-item"><a href="{{ path(prefix ~ 'index') }}">{{ breadcrumb[0] }}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ breadcrumb[1] }}</li>
            {% elseif breadcrumb[0] is defined %}
                <li class="breadcrumb-item active" aria-current="page">{{ breadcrumb[0] }}</li>
            {% else %}
                <li class="breadcrumb-item active" aria-current="page">/</li>
            {% endif %}
        </ol>
    </nav>

    {% if (_route[2] is defined) %}
        <div class="my-auto">
            {% if (_route[2] == 'index') %}
                <a href="{{ path(prefix ~ 'new') }}" class="btn btn-outline-success btn-sm shadow-sm">
                    <i class="fas fa-plus fa-sm fa-fw"></i> Add New
                </a>
            {% endif %}

            {% if (_route[2] == 'new') %}
                <button class="btn btn-primary btn-sm shadow-sm"><i class="far fa-fw fa-save"></i> Save</button>
            {% endif %}

            {% if (_route[2] == 'show') %}
                <a href="{{ path(prefix ~ 'new') }}" class="btn btn-outline-success btn-sm shadow-sm">
                    <i class="fas fa-plus fa-sm fa-fw"></i>
                </a>
                <a href="{{ path(prefix ~ 'edit', {'id': entity.id}) }}" class="btn btn-outline-primary btn-sm shadow-sm">
                    <i class="fas fa-pen fa-sm fa-fw"></i>
                </a>
                {% include 'admin/_embed/_form/_btn_delete.html.twig' with {'entity': entity, 'deleteTitle': deleteTitle} %}
                {% include 'admin/_embed/_modal/_confirm_deletes.html.twig' %}
            {% endif %}

            {% if (_route[2] == 'edit') %}
                <button class="btn btn-primary btn-sm shadow-sm"><i class="far fa-fw fa-save"></i> Save</button>
                <a href="{{ path(prefix ~ 'new') }}" class="btn btn-outline-success btn-sm shadow-sm">
                    <i class="fas fa-plus fa-sm fa-fw"></i>
                </a>
                <a href="{{ path(prefix ~ 'show', {'id': entity.id}) }}" class="btn btn-outline-secondary btn-sm shadow-sm">
                    <i class="fas fa-eye fa-sm fa-fw"></i>
                </a>
                {% include 'admin/_embed/_form/_btn_delete.html.twig' with {'entity': entity, 'deleteTitle': deleteTitle} %}
                {% include 'admin/_embed/_modal/_confirm_deletes.html.twig' %}
            {% endif %}
        </div>
    {% endif %}
</div>
