{% form_theme form 'bootstrap_5_horizontal_layout.html.twig' %}

{{ form_start(form) }}

    {{ form_row(form.category) }}
    {{ form_row(form.title) }}
    {{ form_row(form.slug) }}
    {{ form_row(form.preview) }}
    {{ form_row(form.content) }}
    {{ form_row(form.is_draft) }}

    {% if form.vars.data.image %}
        <div class="mb-3 row">
            <div class="col-sm-10 offset-sm-2">
                <a href="{{ asset_uploaded(form.vars.data.imagePath) }}" target="_blank">
                    <img src="{{ asset_uploaded(form.vars.data.imagePath)|imagine_filter('squared_thumbnail_form') }}" alt="">
                </a>
            </div>
        </div>
    {% endif %}
    {{ form_row(form.image) }}

    {{ form_row(form.seo_title) }}
    {{ form_row(form.seo_keywords) }}
    {{ form_row(form.seo_description) }}

    {% include 'admin/_embed/_form/_btn_save.html.twig' %}

{{ form_end(form) }}
