{% extends 'admin/layouts/body.html.twig' %}

{% set headerTitle = 'Blog Posts - Post' %}

{% block title %}{{ headerTitle }}{% endblock %}

{% block content %}
    <div class="card my">
        <div class="card-header">
            {% include 'admin/_embed/_card/_header.html.twig' with {'headerTitle': headerTitle, 'entity': post, 'deleteTitle': post.title} %}
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ post.id }}</td>
                </tr>
                <tr>
                    <th>Category</th>
                    <td>{{ post.category }}</td>
                </tr>
                <tr>
                    <th>Title</th>
                    <td>{{ post.title }}</td>
                </tr>
                <tr>
                    <th>Slug</th>
                    <td>{{ post.slug }}</td>
                </tr>
                <tr>
                    <th>Preview</th>
                    <td>{{ post.preview }}</td>
                </tr>
                <tr>
                    <th>Content</th>
                    <td>{{ post.content }}</td>
                </tr>
                <tr>
                    <th>Image</th>
                    <td><img class="img-fluid" src="{{ asset_uploaded(post.imagePath) }}" alt=""></td>
                </tr>
                <tr>
                    <th>Is active</th>
                    <td>{{ post.isActive ? 'Yes' : 'No' }}</td>
                </tr>
                <tr>
                    <th>Seo title</th>
                    <td>{{ post.seoTitle }}</td>
                </tr>
                <tr>
                    <th>Seo keywords</th>
                    <td>{{ post.seoKeywords }}</td>
                </tr>
                <tr>
                    <th>Seo description</th>
                    <td>{{ post.seoDescription }}</td>
                </tr>
                <tr>
                    <th>Created at</th>
                    <td>{{ post.createdAt|date('Y-m-d H:i:s') }}</td>
                </tr>
                <tr>
                    <th>Updated at</th>
                    <td>{{ post.updatedAt|date('Y-m-d H:i:s') }}</td>
                </tr>
                <tr>
                    <th>User</th>
                    <td>{{ post.user }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
