{% extends 'admin/layouts/body.html.twig' %}

{% set headerTitle = 'Pages - Page' %}

{% block title %}{{ headerTitle }}{% endblock %}

{% block content %}
    <div class="card my">
        <div class="card-header">
            {% include 'admin/_embed/_card/_header.html.twig' with {'headerTitle': headerTitle, 'entity': page, 'deleteTitle': page.title} %}
        </div>
        <div class="card-body">
            <table class="table">
                <tbody>
                <tr>
                    <th class="w-25">Id</th>
                    <td>{{ page.id }}</td>
                </tr>
                <tr>
                    <th>Title</th>
                    <td>{{ page.title }}</td>
                </tr>
                <tr>
                    <th>Slug</th>
                    <td>{{ page.slug }}</td>
                </tr>
                <tr>
                    <th>Content</th>
                    <td>{{ page.content|raw }}</td>
                </tr>
                <tr>
                    <th>IsActive</th>
                    <td>{{ page.isActive ? 'Yes' : 'No' }}</td>
                </tr>
                <tr>
                    <th>SeoTitle</th>
                    <td>{{ page.seoTitle }}</td>
                </tr>
                <tr>
                    <th>SeoKeywords</th>
                    <td>{{ page.seoKeywords }}</td>
                </tr>
                <tr>
                    <th>SeoDescription</th>
                    <td>{{ page.seoDescription }}</td>
                </tr>
                <tr>
                    <th>CreateAt</th>
                    <td>{{ page.createdAt ? page.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <th>Updated at</th>
                    <td>{{ page.updatedAt ? page.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
